.feautures__list {
  text-align: center;

  @extend %list;
  }

  @media screen and (min-width: $tablet) {
    .feautures__list {
    display: flex;
    flex-wrap: wrap;
    gap: $card-set-gap;

    text-align: start
  }
}

  .visually-hidden {
    @extend %visually-hidden;
  }
  
  @media screen and (max-width: 767px) {
    .feautures__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .feautures__item {
    @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2); 
  }

    @media screen and (min-width: $desctop) {
    flex-basis: calc((100% - 90px) / 4);
    }
  }
  
  .feautures__thumb {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
  
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
  }
  
  .feautures__title {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  
  .feautures__text {
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
  }