.page-footer__nav {
    
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
      width: 231px;
      margin-right: 70px;
    } 
  }
  
  .page-footer__address {
    margin-bottom: 9px;
  
    color: #ffffff;
    font-style: normal;
  }

  .page-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .page-footer__contacts {
    @extend %list;
  }
  
  .page-footer__link {
    color: rgba(255, 255, 255, 0.6);
  
    text-decoration: none;
  
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }