@media screen and (max-width: 767px) {
    .site-nav {
        display: flex;  
      }
    
      .site-nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
        @extend %list;
      }
      
      .site-nav__link {
        display: block;
        padding: 0;
      
        color: var(--title-text-color);
      
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
      
        transition: color 250ms $timing-function;
    
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
    
      .site-nav__link--active {
        color: var(--accent-color);
      }

      .contact {
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
        @extend %list;
    
        @media screen and (min-width: $tablet) {
          margin-left: 90px;
          gap: 50px;
        }
    
        @media screen and (min-width: $desctop) {
          display: inline-flex;
          margin-left: 297px; 
        }
      }
      
       .contact__link--big {
        display: block;
        margin-bottom: 32px;

        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        text-decoration: none;

        color: var(--accent-color);
      }

       .contact__link--small {
        display: block;

        color: var(--primary-text-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
      
        transition: color 250ms $timing-function;
    
        &:hover,
        &:focus {
        color: var(--accent-color);
       }
    }
      
      .contact__icon {
        display: none;
      }

      .menu-social {
        display: flex;
        flex-wrap: wrap;
        margin-top: 64px;
        gap: 20px;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;   
      }

      .menu-social__link {
        text-decoration: none;
        color: var(--accent-color);
      }

      .menu-social__item {
        position: relative;
      }

      .menu-social__item:not(:last-child)::after {
        position: absolute;
        content:'';
        top: 40%;
        left: 100%;
        width: 22px;
        height: 0;
        rotate: -90deg;
        border: 1px solid rgba(33, 33, 33, 0.2);
      }
}  
