.page-header {
    width: 100%;
    min-height: 80px;
    
  
    background-color: #FFFFFF;
    border-bottom: 1px solid #ececec;
    
    @media screen and (min-width: $tablet) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  .page-header__container {
    @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  }

  .header-button {
    position: absolute;
    top: 10px;
    right: 15px;

    background-color: transparent;
    border: none;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .header-button__cross {
    display: none;
  }

  .header-button.is-open .header-button__cross {
    display: block;
  }

  .header-button.is-open .header-button__menu {
    display: none;
  }