.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: #2f303a;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .page-footer__container {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      text-align: center;
      justify-content: space-around;
    }

    @media screen and (min-width: $desctop) {
      text-align: start;
      justify-content: flex-start;
    }
  }
  
  .page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;
  
    color: #FFFFFF;
  }