.partners {
    text-align: center;
  }
  
  .clients {
    display: flex;
    flex-wrap: wrap;
    gap: $card-set-gap;
    justify-content: center;

    @extend %list;
  }
  
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 60px) / 3);;
    }
    
    @media screen and (min-width: $desctop) {
      flex-basis: calc((100% - 150px) / 6);;
    } 
  }
  
  .clients__link {
    display: block;
    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;
  
    border-radius: 4px;
    border: 1px solid #AFB1B8;
  
    transition: border 250ms $timing-function;

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
  }
  
  .clients__icon {
    fill: #AFB1B8;
  
    transition: fill 250ms $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
  }