.section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    font-size: 14px;
    line-height: 1.71;

    @media screen and (min-width: $desctop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    @media screen and (min-width: $desctop) {
      margin-bottom: 50px;
    }
  }