.team {
    background-color: var(--secondary-bg-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  
  .members {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: $card-set-gap;
    }

    @extend %list;
  }

  .members__icon {
    width: 100%;
  }
  
  .members__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .members__title {
    margin-top: 0;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  
  .members__item {
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: $desctop) {
      flex-basis: calc((100% - 90px) / 4);
    }
    }

    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
      0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14), 
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 767px) {
    .members__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  .members__text {
    margin-top: 0;
    margin-bottom: 16px;
  }